.navbar{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: rgb(0, 0, 0);
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    color: white;
}

.petLogo:hover{
    cursor: pointer;
}

h3{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: x-large;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    text-decoration: none;
    
}
.links:hover{
    cursor: pointer;
}

/* p{
    display: flex;
    margin-right: 20px;
    font-weight: bolder;
} */

.logout{
    font-weight: 300;
}

.matching{
    font-weight: bold;
    font-size: 24px;
}
