
.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    padding: 30px;
    margin: 30px;
    height: 400px;
    width: 400px;
    border-radius: 45px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px 10px grey;
}
h2{
    display: flex;
    padding: 20px;
    justify-content: center;
    font-size: 28px;
}

label{
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    margin: 5px;
}

input {
    padding: 5px;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 25px;
    box-shadow: 5px 10px 10px grey;
}
.login-button {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 45px;
    color: white;
    font-size: 18px;
    background: linear-gradient(45deg, #FF6A5B, #FD2B7A);
    box-shadow: 5px 10px 10px grey;
}
.login-button:hover{
    cursor: pointer;
}

.signup-button {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 45px;
    color: white;
    font-size: 18px;
    background: linear-gradient(45deg, #FF6A5B, #FD2B7A);
    box-shadow: 5px 10px 10px grey;
}

.signup-button:hover{
    cursor: pointer;
}